fastapi
uvicorn

pandas
numpy
polars
scikit-learn
xgboost
shap
lime
langgraph
langchain
langchain-experimental
langchain-google-genai
sentence-transformers
python-multipart
rapidfuzz
pydantic
pydantic-settings
openpyxl
pyarrow
tabulate
orjson
